button {
	color: white;
	font-weight: bold;
	border-radius: 5px;
	transition: 0.3s all;
}

/* blue button (login and form components) */
.blue {
	background: var(--primary);
	padding: 21px 41px;
	margin-top: 20px;
}

.blue:hover {
	padding: 20px 40px;
	background: white;
	color: var(--primary);
	border: 2px solid var(--primary);
}

/* red button (stopcard and table components) */

.red {
	background: var(--warningRed);
	padding: 6px 21px;
	font-size: 1.6rem;
}

.red:hover {
	padding: 5px 20px;
	background: white;
	color: var(--warningRed);
	border: 2px solid var(--warningRed);
}

/* yellow button (sidebar component) */

.yellow {
	padding: 5px 10px;
	font-size: 1.2rem;
	background: var(--accent);
	border: 2px solid var(--accent);
}

.yellow:hover {
	padding: 5px 10px;
	color: var(--accent);
	background: var(--primary);
	border: 2px solid var(--accent);
}
