/* FOR LOGIN AND FORM COMPONENTS */

button {
	color: white;
	font-weight: bold;
	border-radius: 5px;
	transition: 0.3s all;
}

.bigBlue {
	background: #273e47;
	padding: 21px 41px;
	margin-top: 20px;
}

.bigBlue:hover {
	padding: 20px 40px;
	background: white;
	color: #273e47;
	border: 2px solid #273e47;
}

/* FOR SIDEBAR COMPONENT */

.logout {
	padding: 0;
	background: none;
	border: none;
	font-size: 1.2rem;
	display: block;
	color: #f0a202;
}

.logout:hover {
	color: #a3b18a;
}

.logoutLink {
	padding-bottom: 0px;
}
.logoutLink {
	border-bottom: none;
}

/* FOR STOPCARD COMPONENT */

.removeButton {
	background: #a4243b;
	padding: 7px 22px;
	font-size: 1.6rem;
}

.removeButton:hover {
	padding: 5px 20px;
	background: white;
	color: #a4243b;
	border: 2px solid #a4243b;
}
