.container {
	flex: 1 0 40%;
	min-width: 40%;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px;
	background: white;
	box-shadow: 0px 0px 4px #273e47;
}

.expenseItem {
	margin: 10px 0px;
	padding-bottom: 10px;
	color: black;
}

.expenseInfo {
	display: flex;
	justify-content: space-between;
}

table {
	letter-spacing: 1px;
	font-size: 1.6rem;
	width: 100%;
}

th {
	border: 1px solid white;
	background: #f0a202;
	color: #273e47;
	font-weight: bold;
	font-size: 1.8rem;
	letter-spacing: 1px;
}
th button {
	letter-spacing: 1px;
	background: none;
	border: none;
	color: #273e47;
	font-weight: bold;
	font-size: 1.8rem;
}

td,
th {
	padding: 10px 0px;
}

td {
	text-align: center;
}

.red {
	color: red;
}

.green {
	color: green;
}
