.container {
	text-align: center;
	margin: 20px auto;
	width: 70%;
}

.inputContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.inputItem {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 10px 0px;
	flex: 1 0 40%;
	max-width: 45%;
}

.inputItem input {
	padding: 5px;
	border: none;
	border-bottom: 1px solid #f0a202;
}

.inputItem select {
	margin: 6px 0px;
}

.submit {
	background: #273e47;
	color: white;
	padding: 21px 41px;
	font-weight: bold;
	margin-top: 20px;
	transition: 0.3s all;
	border-radius: 5px;
}

.submit:hover {
	padding: 20px 40px;
	background: white;
	color: #273e47;
	border: 2px solid #273e47;
}
