.formInput {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 10px 0px;
	flex: 1 0 45%;
	max-width: 45%;
}

.inputItem {
	padding: 5px;
	border: none;
	border-bottom: 1px solid var(--accent);
	background: none;
	width: 100%;
}

.inputSelect {
	margin: 6px 0px;
}
