header {
	text-align: center;
}

/* Hamburger (hidden at full width) */
.hamburger {
	display: none;
}

/* Styling of sidebar content container */
.content {
	width: 300px;
	height: 100%;
	background: var(--primary);
	padding: 20px;
	color: var(--navTextColor);
}

.container h2 {
	font-family: var(--bodyFont);
	color: var(--sidebarText);
	font-size: 3rem;
}

.container h2:after {
	top: 55px;
}

/* Profile styling */

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px 40px 0px;
}

.userName {
	font-size: 2.2rem;
	font-family: var(--headingFont);
}

.profileImageContainer {
	max-width: 130px;
	height: 130px;
	margin: 10px 0px;
	padding: 2px;
	background-color: var(--accent);
	border-radius: 100%;
}
.profileImageContainer img {
	border-radius: 100%;
	height: 100%;
	object-fit: cover;
}

/* Nav Styling */

.stopItem {
	padding-top: 10px;
	padding-left: 50px;
}

.icon {
	width: 20px;
	margin-right: 5px;
	text-align: center;
	filter: invert(70%) sepia(24%) saturate(7235%) hue-rotate(8deg) brightness(104%) contrast(98%);
}

.navLink {
	font-family: var(--headingFont);
	display: inline-flex;
	align-items: center;
}

a.navLink {
	color: var(--navTextColor);
	padding-bottom: 3px;
	transition: 0.3s all;
}
a.navLink:hover {
	color: var(--accent);
	padding-bottom: 0px;
	border-bottom: 3px solid var(--accent);
}

@media (max-width: 1050px) {
	/* Styling all related to hamburger menu when screen size becomes small enough. Taken from https://codepen.io/Joanc/pen/XYYZdE and modified to fit this project */
	.content {
		position: absolute;
		height: auto;
		top: 0;
		left: -320px;
		z-index: 1;
		transition: 0.5s all;
		background: linear-gradient(180deg, rgba(39, 62, 71, 1), rgba(39, 62, 71, 0.9));
	}

	.container span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		top: 20px;
		left: 20px;
		background: var(--primary);
		border-radius: 3px;
		z-index: 1000;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			opacity 0.8s ease;
	}

	.container span:first-child {
		transform-origin: 0% 0%;
	}

	.container span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.container input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	.container input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.container input:checked ~ span:nth-last-child(2) {
		opacity: 1;
		transform: rotate(-45deg) translate(0, -1px);
	}

	.hamburger {
		z-index: 10000;
		position: absolute;
		top: 0;
		display: block;
		width: 40px;
		height: 32px;
		top: 20px;
		left: 20px;
		cursor: pointer;
		opacity: 0;
	}
	.container input:checked ~ .content {
		left: 0px;
	}
	.container input:checked ~ span {
		background: var(--navTextColor);
	}
}
