.container {
	width: 35%;
	background: pink;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.profileImageContainer {
	max-width: 150px;
	height: 150px;
	margin: 20px 0px;
}
.profileImageContainer img {
	border-radius: 100%;
	height: 100%;
	object-fit: cover;
}
