.container {
	padding-bottom: 50px;
}

.header {
	margin: 0px 10px 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	padding-bottom: 0;
	position: relative;
}

.budget {
	color: #273e47;
	font-size: 4rem;
	font-family: 'Alata', sans-serif;
	font-weight: bold;
	position: relative;
}

.header h1:after,
.budget:after {
	position: absolute;
	top: 65px;
	left: 0;
	content: '';
	background: #f0a202;
	width: 60px;
	height: 5px;
}

.budget:after {
	left: auto;
	right: 0;
}

.expenseContainer {
	display: flex;
	flex-wrap: wrap;
}
