.container {
	padding-bottom: 50px;
}
.header {
	margin: 0px 0px 20px 10px;
}
.header h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
}

.header h1:after {
	position: absolute;
	top: 65px;
	left: 0;
	content: '';
	background: #f0a202;
	width: 60px;
	height: 5px;
}

.header h2 {
	padding: 0;
	margin: 15px 0px;
	/* margin-bottom: 15px; */
}

.expenseContainer {
	display: flex;
	flex-wrap: wrap;
}
