.container {
	margin-left: 10px;
}

.container h1 {
	position: relative;
}

.container h1:after {
	position: absolute;
	top: 65px;
	left: 0;
	content: '';
	background: #f0a202;
	width: 60px;
	height: 5px;
}

.allStops {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
