.container {
	overflow-x: auto;
}

.expenseItem {
	margin: 10px 0px;
	padding-bottom: 10px;
	color: black;
}

table {
	letter-spacing: 1px;
	font-size: 1.6rem;
	width: 100%;
	text-align: center;
}

th {
	border: 1px solid white;
	background: #f0a202;
	color: #273e47;
	font-size: 1.8rem;
}

td,
th {
	padding: 10px 0px;
}

.sort {
	background: none;
	border: none;
	color: #273e47;
}
