.container {
	overflow-x: auto;
	letter-spacing: 1px;
	font-size: 1.6rem;
	width: 100%;
	text-align: center;
}

th {
	border: 1px solid white;
	background: var(--accent);
	color: var(--primary);
	font-size: 1.8rem;
}

td,
th {
	padding: 10px 0px;
}

.heading {
	text-transform: capitalize;
}

.expenseItem {
	margin: 10px 0px;
	padding-bottom: 10px;
	color: black;
}

.arrow {
	width: 20px;
	padding-left: 5px;
	filter: invert(20%) sepia(12%) saturate(1521%) hue-rotate(152deg) brightness(92%) contrast(88%);
}

.rotated {
	transform: rotate(180deg);
}

.sort {
	background: none;
	border: none;
	color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
